.body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f8f9fa;
}

/* NAVBAR */
.navbar {
  background-color: #1f2933 !important;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar-toggler{
  background-color: #64707c;
  display: none;
}


.d-flex{
  margin: 0 !important;
}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.navbar-brand:hover {
  color: white;
}

.navbar .form-control {
  background-color: #2c3440;
  border: none;
  color: white;
}

.navbar .form-control::placeholder {
  color: white;
}

.btn.btn-outline-success {
  color: white;
  border-color: white;
}

.btn.btn-outline-success:hover {
  background-color: white;
  color: #1f2933;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  position: fixed;
  top: 56px;
  left: 0;
  height: calc(100vh - 56px);
  background-color: #1f2933;
  padding: 1rem;
}

.sidebar .nav-link {
  color: #ced4da;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 6px;
}

.sidebar .nav-link:hover {
  background-color: #2c3440;
  color: white;
}

.sidebar hr {
  border-color: #58626d;
  width: 200px;
}

.dropdown{
  position: absolute;
  bottom: 15px;
}

/* CONTEÚDO */
.content {
  margin-left: 240px;
  padding: 90px 30px 30px;
}

/* LISTA */
.list-group-item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  color: #212529;
  align-items: center;
  border-color: #1f2933;
}

.form-select {
  width: 100px;
}


.crud {
  display: flex;
  align-items: center;
}

.crud .form-select {
  border-color: #1f2933;
}

.crud button {
  font-size: 14px;
  background-color: #1f2933;
  color: white;
  border: 1px solid #1f2933;
}

.crud button:hover {
  background-color: white;
  color: #1f2933;
  border-color: #1f2933;
}

.crud button:active {
  background-color: #1f2933;
}

.btn.btn-outline-primary.mb-3 {
  color: #1f2933;
  border-color: #1f2933;
}

.btn.btn-outline-primary.mb-3:hover {
  background-color: #1f2933;
  color: white;
}

.btn.btn-primary{
  background-color: #1f2933;
  border-color: #1f2933;
}

/*media query */

@media (max-width: 480px) {
  .sidebar {
    display: none;
  }
  .navbar-toggler{
    display: block;
  }
  .content{
    margin-left: 0;
  }
  
  .form-select{
    font-size: 10px;
  }

  .list-group-item{
    font-size: 18px;
    font-weight: 700;
  }

  .btn.btn-sm{
    font-size: 10px;
  }

  .crud{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px !important;
  }
  
}