/* GERAL */
body {
  min-height: 100vh;
  background-color: #f8f9fa;
}

/* NAVBAR */
.navbar {
  background-color: #1f2933 !important;
  z-index: 1050;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.25rem;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  position: fixed;
  top: 56px;
  left: 0;
  height: calc(100vh - 56px);
  background-color: #1f2933;
  padding: 1rem;
  z-index: 1000;
}

.sidebar .nav-link {
  color: #ced4da;
  margin-bottom: 5px;
  transition: 0.3s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: #2c3440;
  color: white;
}

.dropdown {
  position: absolute;
  bottom: 20px;
  width: 85%;
}

/* CONTEÚDO PRINCIPAL */
.content {
  margin-left: 240px;
  padding: 100px 20px 20px;
}

.table {
  --bs-table-hover-bg: transparent !important;
  --bs-table-accent-bg: transparent !important;
  background-color: white !important;
}

.table td,
.table th {
  background-color: white !important;
  border-bottom: 1px solid #f0f0f0;
}

/* Deixa os ícones bonitos e clicáveis */
.btn-link i {
  transition: transform 0.2s;
  display: inline-block;
}

.btn-link:hover i {
  transform: scale(1.2);
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .sidebar {
    left: -240px; /* Esconde a sidebar no tablet/celular */
  }

  .content {
    margin-left: 0; /* Conteúdo ocupa a tela toda */
    padding-top: 80px;
  }

  .table {
    font-size: 0.85rem; /* Fonte menor para caber melhor no M55 */
  }
}
